# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Environments
env/
.venv/
*.env

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
logs/
*.log

# Coverage reports
htmlcov/
.coverage
*.coveragerc

# Pytest
.pytest_cache/
